# Virtual environment
.venv/

# Python cache and packaging
__pycache__/
*.py[cod]
*.egg-info/

# macOS
.DS_Store

# Build / distribution
build/
dist/
.eggs/
pip-wheel-metadata/

# Installers
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
.coverage.*
.cache
.pytest_cache/

# Type checkers
.mypy_cache/
.pyre/

# IDEs / editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
.env.*

# Logs and databases
*.log
*.sqlite3
instance/
logs/

# Misc
*.pyc
